# Fichiers générés par la compilation
dist/
pkg/
target/

# Dépendances Node.js
*/node_modules/*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers de cache
.npm
.eslintcache
.parcel-cache/

# Logs
*.log
logs/
